<span ht-include="'components/navbar.html'"></span>
<div
  class="py-5 text-center text-white h-50 align-items-center d-flex"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url({{post.thumbnail}}); background-position: center center, center center; background-size: cover, cover; background-repeat: repeat, repeat;"
></div>
<div class="py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-md-8">
        <p class="text-muted" ng-if="post.date">{{ post.date | date }}</p>
        <h1 class="mb-3">{{ post.title }}</h1>
        <span
          class="badge badge-pill badge-light mr-2"
          ht-repeat="tag in post.tags"
          >{{ tag }}</span
        >
        <p class="mt-5">
          {{ post.body }}
        </p>
      </div>
    </div>
  </div>
</div>
<span ht-include="'components/contact-us.html'"></span>
<div ht-include="'components/footer.html'"></div>
<span ht-include="'components/scripts.html'"></span>
