<div ht-include="'components/navbar.html'"></div>
<div
  class="py-5 text-center text-white align-items-center d-flex cover"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/assets/cover_placeholder.JPG); background-position: center center, center center; background-size: cover, cover; background-repeat: repeat, repeat;"
>
  <div class="container my-5">
    <div class="row">
      <div
        class="text-lg-left d-flex flex-column justify-content-center col-lg-7"
        style=""
      >
        <h3 class="display-3 font-weight-bold mb-0 mt-5 mt-md-0">
          {{ data['strings_' + lang].index_1_title_1_1 }}
        </h3>
        <h3 class="display-4 mb-4">xcvb</h3>
        <p class="lead mb-5 mb-lg-0">
          cvbhjk
        </p>
      </div>
      <div
        class="text-center text-lg-left col-lg-4 p-4 offset-lg-1 d-flex flex-column justify-content-center"
        style="	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));	background-position: top left;	background-size: 100%;	background-repeat: repeat;"
      >
        <p class="lead font-weight-bold">The Voltage Quality Guide</p>
        <p class="lead mb-0">
          Issues, causes, regulations, equipments immunity...
        </p>
        <a
          class="btn mt-3 btn-lg btn-primary"
          href="#"
          target="_blank"
          data-toggle="modal"
          data-target="#register"
          ><b>SCARICA LA TUA GUIDA GRATUITA</b></a
        >
      </div>
    </div>
  </div>
</div>
<div class="py-5 text-center">
  <div class="container">
    <div class="row">
      <div
        class="p-3 d-md-flex align-items-center col-md-12 bg-light justify-content-around"
      >
        <p class="lead my-2">
          Join us at Middle East Elecricity 2019, 5-7 March, Dubai
        </p>
        <a class="btn btn-primary btn-lg" href="#">Learn more</a>
      </div>
    </div>
  </div>
</div>
<div
  class="py-5 text-center text-white"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(/assets/train.JPG); background-position: center center, center center; background-size: cover, cover; background-repeat: repeat, repeat;"
>
  <div class="container">
    <div class="row mb-5">
      <div class="mx-auto col-md-12">
        <h2 class="mb-3">
          We provide a range of products and services of excellence in the field
          of Power Quality thanks to synergy of Ortea, Icar and Enersolve
          solutions:
        </h2>
        <p class="lead font-weight-bold">
          <a
            href="https://www.ortea.it/en/company-ortea-voltage-stabilisers-and-trasformers/"
            >Learn more about our companies</a
          >
        </p>
      </div>
    </div>
    <div class="row">
      <div
        class="mx-auto bg-info text-right d-flex col-md-5 flex-column align-items-start align-items-md-end justify-content-center mb-3 py-2 px-3"
      >
        <h2 class="mb-0 text-dark"><b>POWER QUALITY</b><br /></h2>
        <h3 class="mb-0 text-secondary">Problems<br /></h3>
      </div>
      <div
        class="mx-auto bg-info d-flex flex-column justify-content-center mb-3 px-3 py-2 col-lg-5 col-md-6"
      >
        <h2 class="mb-0 text-dark text-left"><b>ORTEA NEXT</b><br /></h2>
        <h3 class="mb-0 text-left text-primary">Solutions<br /></h3>
      </div>
    </div>
    <div class="row">
      <div
        class="mx-auto bg-secondary text-right d-flex flex-column align-items-start align-items-md-end justify-content-center mb-3 p-3 col-md-5"
      >
        <h3 class="mb-0">Voltage variation</h3>
      </div>
      <div class="mx-auto bg-primary mb-3 p-0 col-lg-5 col-md-6">
        <a
          href="https://www.ortea.it/en/categorie_prodotti/digital-voltage-stabilisers/"
          class="p-3 d-flex align-items-center justify-content-between "
        >
          <h3 class="mb-0 text-left text-white">Voltage Stabilisers</h3>
          <img
            src="/assets/logo_ortea_bianco.png"
            class="img-fluid mx-2"
            style="height:30px;"
          />
        </a>
      </div>
    </div>
    <div class="row">
      <div
        class="mx-auto bg-secondary text-right d-flex flex-column align-items-start align-items-md-end justify-content-center mb-3 p-3 col-md-5"
      >
        <h3 class="mb-0">Sags/Dips</h3>
      </div>
      <div class="mx-auto bg-primary mb-3 p-0 col-lg-5 col-md-6">
        <a
          href="https://www.voltagesag.ortea.com/index-en.html"
          class="p-3 d-flex align-items-center justify-content-between "
        >
          <h3 class="mb-0 text-left text-white">SAG Compensators</h3>
          <img
            src="/assets/logo_icar_bianco.png"
            class="img-fluid mx-2"
            style="height:30px;"
          />
        </a>
      </div>
    </div>
    <div class="row">
      <div
        class="mx-auto bg-secondary text-right d-flex flex-column align-items-start align-items-md-end justify-content-center mb-3 p-3 col-md-5"
      >
        <h3 class="mb-0">Excessive reactive power</h3>
      </div>
      <div class="mx-auto bg-primary mb-3 p-0 col-lg-5 col-md-6">
        <a
          href="https://www.icar.com/en/automatic-power-factor-correction/"
          class="p-3 d-flex align-items-center justify-content-between "
        >
          <h3 class="mb-0 text-left text-white">
            Power Factor Correction Systems
          </h3>
          <img
            src="/assets/logo_ortea_bianco.png"
            class="img-fluid mx-2"
            style="height:30px;"
          />
        </a>
      </div>
    </div>
    <div class="row">
      <div
        class="mx-auto bg-secondary text-right d-flex flex-column align-items-start align-items-md-end justify-content-center mb-3 p-3 col-md-5"
      >
        <h3 class="mb-0">Unprotected loads</h3>
      </div>
      <div class="mx-auto bg-primary mb-3 p-0 col-lg-5 col-md-6">
        <a
          href="https://www.ortea.it/en/categorie_prodotti/power-transformers/"
          class="p-3 d-flex align-items-center justify-content-between "
        >
          <h3 class="mb-0 text-left text-white">DRY-Type Transformers</h3>
          <img
            src="/assets/logo_ortea_bianco.png"
            class="img-fluid mx-2"
            style="height:30px;"
          />
        </a>
      </div>
    </div>
    <div class="row">
      <div
        class="mx-auto bg-secondary text-right d-flex flex-column align-items-start align-items-md-end justify-content-center mb-3 p-3 col-md-5"
      >
        <h3 class="mb-0">Harmonic pollution</h3>
      </div>
      <div class="mx-auto bg-primary mb-3 p-0 col-lg-5 col-md-6">
        <a
          href="https://www.icar.com/en/prodotto/uncategorized-it/active-filters/"
          class="p-3 d-flex align-items-center justify-content-between "
        >
          <h3 class="mb-0 text-left text-white">
            Active Harmonic Filters&nbsp;&nbsp;
          </h3>
          <img
            src="/assets/logo_icar_bianco.png"
            class="img-fluid mx-2"
            style="height:30px;"
          />
        </a>
      </div>
    </div>
    <div class="row">
      <div
        class="mx-auto bg-secondary text-right d-flex flex-column align-items-start align-items-md-end justify-content-center mb-3 p-3 col-md-5"
      >
        <h3 class="mb-0">Waste of energy</h3>
      </div>
      <div class="mx-auto bg-primary mb-3 p-0 col-lg-5 col-md-6">
        <a
          href="https://www.enersolve.it/en/"
          class="p-3 d-flex align-items-center justify-content-between "
        >
          <h3 class="mb-0 text-left text-white">Network optimisers</h3>
          <img
            src="/assets/logo_enersolve_bianco.png"
            class="img-fluid mx-2"
            style="height:30px;"
          />
        </a>
      </div>
    </div>
    <a
      href="https://www.ortea.it/en/categorie_prodotti/digital-voltage-stabilisers/"
    >
    </a>
  </div>
  <a
    href="https://www.ortea.it/en/categorie_prodotti/digital-voltage-stabilisers/"
  >
  </a>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 px-3">
        <h1 class="mb-4">Examples costs of poor power quality:</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 px-3">
        <ul class="mb-0">
          <li class="mb-2">
            Costs for unproductive personnel due to the discontinuity of the
            production cycle.
          </li>
          <li class="mb-2">
            Costs for damage and/or malfunction of machinery (reparation,
            temporary renting).
          </li>
          <li class="mb-2">Sanctions for damage to the environment.</li>
        </ul>
      </div>
      <div class="col-md-6 px-3">
        <ul class="mb-0">
          <li class="mb-2">Costs for raw materials scrap.</li>
          <li class="mb-2">Costs for incomplete or wasted work.</li>
          <li class="mb-2">
            Penalties caused by contractual shortcomings.
          </li>
          <li class="mb-2">Increase in general insurance costs.</li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 px-3 order-2 order-lg-1">
        <img class="img-fluid d-block" src="/assets/Untitled-1.jpg" />
      </div>
      <div
        class="px-3 col-lg-6 order-1 order-lg-2 d-flex flex-column justify-content-center"
      >
        <h3 class="mb-4">
          The total cost of Power Quality related to the Company’s annual
          turnover is as follows:
        </h3>
        <div class="row mb-2">
          <div class="col-md-4">
            <h3 class="display-4 text-primary font-weight-bold mb-0">4%</h3>
          </div>
          <div class="d-flex align-items-center col-md-8">
            <h3 class="mb-0"><b>INDUSTRIAL SEGMENT</b></h3>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <h3 class="display-4 text-primary font-weight-bold mb-0">
              0,15%
            </h3>
          </div>
          <div class="d-flex align-items-center col-md-8">
            <h3 class="mb-0"><b>TERTIARY SEGMENT</b></h3>
          </div>
        </div>
        <p class="text-info">Source: Leonardo Energy</p>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-3">Latest news</h1>
        <p class="lead">
          Read our blog post to get update from Ortea Network
        </p>
      </div>
    </div>
    <div class="row">
      <div class="p-4 col-lg-4 col-md-6">
        <img class="img-fluid d-block" src="/assets/article-1.jpg" />
        <h2 class="mt-3">Sparkles of technology</h2>
        <span class="badge badge-pill badge-light mr-2">Ortea</span>
        <span class="badge badge-pill badge-light mr-2">SAG</span>
        <p class="mt-3">
          A wonderful serenity has taken possession of my entire soul, like
          these sweet mornings of spring...
        </p>
        <a class="btn btn-link btn-sm p-0" href="#">Read more</a>
      </div>
      <div class="p-4 col-lg-4 col-md-6">
        <img class="img-fluid d-block" src="/assets/article-2.jpg" />
        <h2 class="mt-3">New challenges in dynamic cities</h2>
        <span class="badge badge-pill badge-light mr-2">ICAR</span>
        <p class="mt-3">
          which I enjoy with my whole heart. I am alone, and feel the charm of
          existence in this spot.
        </p>
        <a class="btn btn-link btn-sm p-0" href="#">Read more</a>
      </div>
      <div class="p-4 col-lg-4 col-md-6">
        <img class="img-fluid d-block" src="/assets/article-3.jpg" />
        <h2 class="mt-3">About tension regulation in EU</h2>
        <span class="badge badge-pill badge-light mr-2">Ortea</span>
        <span class="badge badge-pill badge-light mr-2">SAG</span>
        <p class="mt-3">
          Which was created for the bliss of souls like mine. I am so happy, my
          dear friend, so absorbed...
        </p>
        <a class="btn btn-link btn-sm p-0" href="#">Read more</a>
      </div>
    </div>
  </div>
</div>
<span ht-include="'components/contact-us.html'"></span>
  <div ht-include="'components/footer.html'"></div>
  <div class="modal fade" id="register" style="">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body my-3">
          <h3>Fill the form<br /></h3>
          <form
            name="download"
            class="text-center"
            method="POST"
            netlify="true"
          >
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                placeholder="E-mail"
                required="required"
                name="Email"
              />
            </div>
            <select name="Country" class="form-control" required="required">
              <option value="">Country...</option>
              <option value="Afganistan">Afghanistan</option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="American Samoa">American Samoa</option>
              <option value="Andorra">Andorra</option>
              <option value="Angola">Angola</option>
              <option value="Anguilla">Anguilla</option>
              <option value="Antigua &amp; Barbuda"
                >Antigua &amp; Barbuda</option
              >
              <option value="Argentina">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Aruba">Aruba</option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Azerbaijan">Azerbaijan</option>
              <option value="Bahamas">Bahamas</option>
              <option value="Bahrain">Bahrain</option>
              <option value="Bangladesh">Bangladesh</option>
              <option value="Barbados">Barbados</option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>
              <option value="Belize">Belize</option>
              <option value="Benin">Benin</option>
              <option value="Bermuda">Bermuda</option>
              <option value="Bhutan">Bhutan</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Bonaire">Bonaire</option>
              <option value="Bosnia &amp; Herzegovina"
                >Bosnia &amp; Herzegovina</option
              >
              <option value="Botswana">Botswana</option>
              <option value="Brazil">Brazil</option>
              <option value="British Indian Ocean Ter"
                >British Indian Ocean Ter</option
              >
              <option value="Brunei">Brunei</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Burkina Faso">Burkina Faso</option>
              <option value="Burundi">Burundi</option>
              <option value="Cambodia">Cambodia</option>
              <option value="Cameroon">Cameroon</option>
              <option value="Canada">Canada</option>
              <option value="Canary Islands">Canary Islands</option>
              <option value="Cape Verde">Cape Verde</option>
              <option value="Cayman Islands">Cayman Islands</option>
              <option value="Central African Republic"
                >Central African Republic</option
              >
              <option value="Chad">Chad</option>
              <option value="Channel Islands">Channel Islands</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Christmas Island">Christmas Island</option>
              <option value="Cocos Island">Cocos Island</option>
              <option value="Colombia">Colombia</option>
              <option value="Comoros">Comoros</option>
              <option value="Congo">Congo</option>
              <option value="Cook Islands">Cook Islands</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Cote DIvoire">Cote D'Ivoire</option>
              <option value="Croatia">Croatia</option>
              <option value="Cuba">Cuba</option>
              <option value="Curaco">Curacao</option>
              <option value="Cyprus">Cyprus</option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Denmark">Denmark</option>
              <option value="Djibouti">Djibouti</option>
              <option value="Dominica">Dominica</option>
              <option value="Dominican Republic">Dominican Republic</option>
              <option value="East Timor">East Timor</option>
              <option value="Ecuador">Ecuador</option>
              <option value="Egypt">Egypt</option>
              <option value="El Salvador">El Salvador</option>
              <option value="Equatorial Guinea">Equatorial Guinea</option>
              <option value="Eritrea">Eritrea</option>
              <option value="Estonia">Estonia</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Falkland Islands">Falkland Islands</option>
              <option value="Faroe Islands">Faroe Islands</option>
              <option value="Fiji">Fiji</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="French Guiana">French Guiana</option>
              <option value="French Polynesia">French Polynesia</option>
              <option value="French Southern Ter">French Southern Ter</option>
              <option value="Gabon">Gabon</option>
              <option value="Gambia">Gambia</option>
              <option value="Georgia">Georgia</option>
              <option value="Germany">Germany</option>
              <option value="Ghana">Ghana</option>
              <option value="Gibraltar">Gibraltar</option>
              <option value="Great Britain">Great Britain</option>
              <option value="Greece">Greece</option>
              <option value="Greenland">Greenland</option>
              <option value="Grenada">Grenada</option>
              <option value="Guadeloupe">Guadeloupe</option>
              <option value="Guam">Guam</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Guinea">Guinea</option>
              <option value="Guyana">Guyana</option>
              <option value="Haiti">Haiti</option>
              <option value="Hawaii">Hawaii</option>
              <option value="Honduras">Honduras</option>
              <option value="Hong Kong">Hong Kong</option>
              <option value="Hungary">Hungary</option>
              <option value="Iceland">Iceland</option>
              <option value="India">India</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Iran">Iran</option>
              <option value="Iraq">Iraq</option>
              <option value="Ireland">Ireland</option>
              <option value="Isle of Man">Isle of Man</option>
              <option value="Israel">Israel</option>
              <option value="Italy">Italy</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Japan">Japan</option>
              <option value="Jordan">Jordan</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="Kenya">Kenya</option>
              <option value="Kiribati">Kiribati</option>
              <option value="Korea North">Korea North</option>
              <option value="Korea Sout">Korea South</option>
              <option value="Kuwait">Kuwait</option>
              <option value="Kyrgyzstan">Kyrgyzstan</option>
              <option value="Laos">Laos</option>
              <option value="Latvia">Latvia</option>
              <option value="Lebanon">Lebanon</option>
              <option value="Lesotho">Lesotho</option>
              <option value="Liberia">Liberia</option>
              <option value="Libya">Libya</option>
              <option value="Liechtenstein">Liechtenstein</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Macau">Macau</option>
              <option value="Macedonia">Macedonia</option>
              <option value="Madagascar">Madagascar</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Malawi">Malawi</option>
              <option value="Maldives">Maldives</option>
              <option value="Mali">Mali</option>
              <option value="Malta">Malta</option>
              <option value="Marshall Islands">Marshall Islands</option>
              <option value="Martinique">Martinique</option>
              <option value="Mauritania">Mauritania</option>
              <option value="Mauritius">Mauritius</option>
              <option value="Mayotte">Mayotte</option>
              <option value="Mexico">Mexico</option>
              <option value="Midway Islands">Midway Islands</option>
              <option value="Moldova">Moldova</option>
              <option value="Monaco">Monaco</option>
              <option value="Mongolia">Mongolia</option>
              <option value="Montserrat">Montserrat</option>
              <option value="Morocco">Morocco</option>
              <option value="Mozambique">Mozambique</option>
              <option value="Myanmar">Myanmar</option>
              <option value="Nambia">Nambia</option>
              <option value="Nauru">Nauru</option>
              <option value="Nepal">Nepal</option>
              <option value="Netherland Antilles">Netherland Antilles</option>
              <option value="Netherlands">Netherlands (Holland, Europe)</option>
              <option value="Nevis">Nevis</option>
              <option value="New Caledonia">New Caledonia</option>
              <option value="New Zealand">New Zealand</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Niger">Niger</option>
              <option value="Nigeria">Nigeria</option>
              <option value="Niue">Niue</option>
              <option value="Norfolk Island">Norfolk Island</option>
              <option value="Norway">Norway</option>
              <option value="Oman">Oman</option>
              <option value="Pakistan">Pakistan</option>
              <option value="Palau Island">Palau Island</option>
              <option value="Palestine">Palestine</option>
              <option value="Panama">Panama</option>
              <option value="Papua New Guinea">Papua New Guinea</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Phillipines">Philippines</option>
              <option value="Pitcairn Island">Pitcairn Island</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Puerto Rico">Puerto Rico</option>
              <option value="Qatar">Qatar</option>
              <option value="Republic of Montenegro"
                >Republic of Montenegro</option
              >
              <option value="Republic of Serbia">Republic of Serbia</option>
              <option value="Reunion">Reunion</option>
              <option value="Romania">Romania</option>
              <option value="Russia">Russia</option>
              <option value="Rwanda">Rwanda</option>
              <option value="St Barthelemy">St Barthelemy</option>
              <option value="St Eustatius">St Eustatius</option>
              <option value="St Helena">St Helena</option>
              <option value="St Kitts-Nevis">St Kitts-Nevis</option>
              <option value="St Lucia">St Lucia</option>
              <option value="St Maarten">St Maarten</option>
              <option value="St Pierre &amp; Miquelon"
                >St Pierre &amp; Miquelon</option
              >
              <option value="St Vincent &amp; Grenadines"
                >St Vincent &amp; Grenadines</option
              >
              <option value="Saipan">Saipan</option>
              <option value="Samoa">Samoa</option>
              <option value="Samoa American">Samoa American</option>
              <option value="San Marino">San Marino</option>
              <option value="Sao Tome &amp; Principe"
                >Sao Tome &amp; Principe</option
              >
              <option value="Saudi Arabia">Saudi Arabia</option>
              <option value="Senegal">Senegal</option>
              <option value="Serbia">Serbia</option>
              <option value="Seychelles">Seychelles</option>
              <option value="Sierra Leone">Sierra Leone</option>
              <option value="Singapore">Singapore</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Solomon Islands">Solomon Islands</option>
              <option value="Somalia">Somalia</option>
              <option value="South Africa">South Africa</option>
              <option value="Spain">Spain</option>
              <option value="Sri Lanka">Sri Lanka</option>
              <option value="Sudan">Sudan</option>
              <option value="Suriname">Suriname</option>
              <option value="Swaziland">Swaziland</option>
              <option value="Sweden">Sweden</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Syria">Syria</option>
              <option value="Tahiti">Tahiti</option>
              <option value="Taiwan">Taiwan</option>
              <option value="Tajikistan">Tajikistan</option>
              <option value="Tanzania">Tanzania</option>
              <option value="Thailand">Thailand</option>
              <option value="Togo">Togo</option>
              <option value="Tokelau">Tokelau</option>
              <option value="Tonga">Tonga</option>
              <option value="Trinidad &amp; Tobago"
                >Trinidad &amp; Tobago</option
              >
              <option value="Tunisia">Tunisia</option>
              <option value="Turkey">Turkey</option>
              <option value="Turkmenistan">Turkmenistan</option>
              <option value="Turks &amp; Caicos Is"
                >Turks &amp; Caicos Is</option
              >
              <option value="Tuvalu">Tuvalu</option>
              <option value="Uganda">Uganda</option>
              <option value="Ukraine">Ukraine</option>
              <option value="United Arab Erimates">United Arab Emirates</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="United States of America"
                >United States of America</option
              >
              <option value="Uraguay">Uruguay</option>
              <option value="Uzbekistan">Uzbekistan</option>
              <option value="Vanuatu">Vanuatu</option>
              <option value="Vatican City State">Vatican City State</option>
              <option value="Venezuela">Venezuela</option>
              <option value="Vietnam">Vietnam</option>
              <option value="Virgin Islands (Brit)"
                >Virgin Islands (Brit)</option
              >
              <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
              <option value="Wake Island">Wake Island</option>
              <option value="Wallis &amp; Futana Is"
                >Wallis &amp; Futana Is</option
              >
              <option value="Yemen">Yemen</option>
              <option value="Zaire">Zaire</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>
            </select>
            <input type="hidden" name="form-name" value="download" />
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>
        </div>
        <div class="modal-body my-3">
          <h3>Thanks for your submission</h3>
          <a
            class="btn btn-primary mt-3 text-white"
            href="/assets/2018S42-PQguideIT.PDF"
            download=""
            >Download your free guide</a
          >
        </div>
      </div>
    </div>
  </div>
  <span ht-include="'components/scripts.html'"></span>
</span>
