<nav
  class="navbar navbar-expand-md fixed-top shadow bg-white navbar-light d-none d-lg-block"
>
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img
        src="/assets/logo_ortea_next_color.png"
        class="img-fluid"
        style="height:30px;"
      />
    </a>
    <div>
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="https://www.ortea.it/en/"
            ><img
              src="/assets/logo_ortea_color.png"
              class="img-fluid mx-2"
              style="height:25px;"
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.icar.com/en/"
            ><img
              src="/assets/logo_icar_color.png"
              class="img-fluid mx-2"
              style="height:25px;"
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.enersolve.it/en/"
            ><img
              src="/assets/logo_enersolve_color.png"
              class="img-fluid mx-2"
              style="height:25px;"
          /></a>
        </li>
        <li class="nav-item dropdown ml-3">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="fa fa-bars fa-lg"></i
          ></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item d-flex align-items-center" href="blog.html"
              >Blog</a
            >
            <a
              class="dropdown-item d-flex align-items-center"
              href="https://www.ortea.it/en/contacts/"
              target="_blank"
              >Contacts</a
            >
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item d-flex align-items-center"
              href="https://www.linkedin.com/company/ortea/"
              target="_blank"
              ><i class="fa fa-linkedin text-muted mr-1"></i> LinkedIn</a
            >
            <a
              class="dropdown-item d-flex align-items-center"
              href="https://www.youtube.com/channel/UCqwcSga4ZzG3ntf6hYRu_Nw?reload=9"
              target="_blank"
              ><i class="fa fa-youtube-play text-muted mr-1"></i> Youtube</a
            >
          </div>
        </li>
        <li class="nav-item dropdown ml-3">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdownLangLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >{{ lang|uppercase }}</a
          >
          <div class="dropdown-menu" aria-labelledby="navbarDropdownLangLink">
            <a
              class="dropdown-item d-flex align-items-center"
              href="/en/index.html"
              >EN</a
            >
            <a
              class="dropdown-item d-flex align-items-center"
              href="/es/index.html"
              >ES</a
            >
            <a
              class="dropdown-item d-flex align-items-center"
              href="/fr/index.html"
              >FR</a
            >
            <a
              class="dropdown-item d-flex align-items-center"
              href="/it/index.html"
              >IT</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav
  class="navbar navbar-expand-lg fixed-top shadow bg-white navbar-light d-block d-lg-none"
  style="padding-right: 40px;"
>
  <div class="container">
    <a class="navbar-brand" href="index-en.html">
      <img
        src="/assets/logo_ortea_next_color.png"
        class="img-fluid"
        style="height:30px;"
      />
    </a>
    <button
      class="navbar-toggler navbar-toggler-right border-0"
      type="button"
      data-toggle="collapse"
      data-target="#navbarmobile"
      aria-expanded="true"
      style=""
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarmobile" style="">
      <ul class="navbar-nav ml-auto mt-4 align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="https://www.ortea.it/en/"
            ><img
              src="/assets/logo_ortea_color.png"
              class="img-fluid mx-2"
              style="height:25px;"
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.icar.com/en/"
            ><img
              src="/assets/logo_icar_color.png"
              class="img-fluid mx-2"
              style="height:25px;"
          /></a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" href="https://www.enersolve.it/en/"
            ><img
              src="/assets/logo_enersolve_color.png"
              class="img-fluid mx-2"
              style="height:25px;"
          /></a>
        </li>
        <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
        <li class="nav-item mb-2">
          <a
            class="nav-link"
            href="https://www.ortea.it/en/contacts/"
            target="_blank"
            >Contact us</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.linkedin.com/company/ortea/"
            target="_blank"
            ><i class="fa fa-linkedin text-muted mr-1"></i> LinkedIn
          </a>
        </li>
        <li class="nav-item mb-2">
          <a
            class="nav-link"
            href="https://www.youtube.com/channel/UCqwcSga4ZzG3ntf6hYRu_Nw?reload=9"
            target="_blank"
            ><i class="fa fa-youtube-play text-muted mr-1"></i> Youtube
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index-en.html">ENG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index-it.html">ITA</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
