backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)

blog: &blog
  format: 'json'
  extension: 'json'
  create: true
  slug: '{{slug}}'
  fields:
    - { label: Date, name: date, widget: date }
    - { label: Title, name: title, widget: string }
    - {
        label: Slug,
        name: slug,
        widget: string,
        pattern:
          [
            '^[a-z0-9]+(?:-[a-z0-9]+)*$',
            'Only lowercase characters, numbers and `-` are allowed. Moreover `-` must not be the first or the last character',
          ],
      }
    - { label: Thumbnail, name: thumbnail, widget: image }
    - { label: Body, name: body, widget: markdown }

banner: &banner
  format: 'json'
  extension: 'json'
  create: true
  slug: '{{year}}-{{month}}-{{day}}_{{message}}'
  identifier_field: message
  fields:
    - { label: Message, name: message, widget: string }
    - { label: Link, name: link, widget: string }

collections:
  - name: 'blog-en' # Used in routes, e.g., /admin/collections/blog
    label: 'Blog EN' # Used in the UI
    folder: 'data/posts_en/'
    <<: *blog
  - name: 'blog-it'
    label: 'Blog IT'
    folder: 'data/posts_it/'
    <<: *blog
  - name: 'banner-en'
    label: 'Banner EN'
    folder: 'data/banners_en/'
    <<: *banner
  - name: 'banner-it'
    label: 'Banner IT'
    folder: 'data/banners_it/'
    <<: *banner

media_folder: 'src/images/uploads'

public_folder: 'images/uploads'

publish_mode: editorial_workflow
