@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Roboto:400,900');

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: true !default;
$enable-shadows: true;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;

// Variables
//
// Colors

$theme-colors: (
  primary: #009640,
  secondary: #004d7e,
  light: #f3f3f3,
  dark: #151515,
  info: #ccc,
  success: #28a745,
  warning: #ffc107,
  danger: #dc3545
);

$body-bg: white;
$body-color: #333;

$body-color-inverse: invert($body-color) !default;
$link-color: #009640;

// Fonts
$font-family-base: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
$headings-font-family: 'Roboto', sans-serif;
$display-font-family: $font-family-base;
$font-weight-normal: 400;
$headings-font-weight: 400;
$lead-font-size: 1.3rem;

$spacer: 1.5rem;
$enable-responsive-font-sizes: true;
$border-radius: 0rem;
$border-radius-sm: 0rem;
$border-radius-lg: 0rem;

@import 'bootstrap/bootstrap';

html,
body {
  height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
  );
  background-position: top left;
  background-size: 100%;
  background-repeat: repeat;
}

.cover {
  min-height: 90%;
  position: relative;
  overflow: hidden;

  video,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
}

@include media-breakpoint-up(lg) {
  .bg-gradient-secondary {
    background-image: linear-gradient(
      to right,
      rgba(map-get($theme-colors, 'secondary'), 0),
      rgba(map-get($theme-colors, 'secondary'), 1)
    );
  }

  .bg-gradient-primary {
    background-image: linear-gradient(
      to left,
      rgba(map-get($theme-colors, 'primary'), 0),
      rgba(map-get($theme-colors, 'primary'), 1)
    );
  }

  .decorated {
    z-index: 10;
    position: relative;
  }

  .decorated::after {
    content: ' ';
    display: block;
    position: absolute;
    right: -15px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    z-index: 1;
    background: map-get($theme-colors, 'secondary');
  }
}

@include media-breakpoint-down(md) {
  .bg-gradient-secondary {
    background: map-get($theme-colors, 'secondary');
  }

  .bg-gradient-primary {
    background: map-get($theme-colors, 'primary');
  }

  .decorated {
    z-index: 10;
    position: relative;
  }

  .decorated::after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: -10px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    left: calc(50% - 10px);
    z-index: 1;
    background: map-get($theme-colors, 'secondary');
  }
}

.max-lines {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 9em; /* 5 lines */
  line-height: 1.8em;
}

.img-blog {
  height: 180px;
  width: 100%;
}

@include media-breakpoint-up(md) {
  .bigger-title {
    font-size: 2.8rem;
  }
}

@include media-breakpoint-up(lg) {
  .bigger-title {
    font-size: 3.2rem;
  }
}
